<!DOCTYPE html>

<html>

<head>

    <title>

        RescueBite

    </title>

</head>

<body>

    <h1>

        RescueBite

    </h1>

    <hr>

    <a href="/">

        Home

    </a>

    |

    <a href="/profiles/">

        Profiles

    </a>

    |

    <a href="/notifications/">

        Notifications

    </a>

    |

    <a href="/donation/foods/">

        Foods

    </a>

    |

    <a href="/donation/claims/">

        Claims

    </a>

    |

    <a href="/donation/history/">

        History

    </a>

    |

    <a href="/ngo/ngos/">

        NGOs

    </a>

    |

    <a href="/ngo/volunteers/">

        Volunteers

    </a>

    |

    <a href="/delivery/deliveries/">

        Deliveries

    </a>

    <hr>

    {% block content %}

    {% endblock %}

</body>

</html>