{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="claim-page">

    <div class="claim-header">

    <h2 class="claim-title">
        Food Claims
    </h2>

    <div class="claim-btn">

        {% if user.is_authenticated %}
            <a href="/donation/create-claim/" class="add-btn">
                + Add Claim
            </a>
        {% endif %}
    </div>
    </div>

    <div class="claim-grid">

        {% for claim in claims %}

        <div class="claim-card">

            <!-- IMAGE SECTION (FIXED) -->
            <div class="claim-img">

                {% if claim.food.image %}
                    <img src="{{ claim.food.image.url }}" alt="Food Image">
                {% else %}
                    <img src="{% static 'images/foodpic1.jpg' %}" alt="Default Food">
                {% endif %}

            </div>

            <!-- CONTENT -->
            <div class="claim-content">

                <p>
                    <b>Food:</b> {{ claim.food.food_name }}
                </p>

                <p>
                    <b>NGO:</b> {{ claim.ngo.username }}
                </p>

                <p>
                    <b>Status:</b> {{ claim.status }}
                </p>

                <div class="actions">

                    {% if user.is_authenticated %}
                        <a href="/donation/update-claim/{{ claim.id }}/" class="edit-btn">
                            Update
                        </a>
                    {% endif %}

                </div>

            </div>

        </div>

        {% empty %}

        <p style="text-align:center;">
            No claims available.
        </p>

        {% endfor %}

    </div>

</div>

{% endblock %}