{% extends 'base.html' %}

{% block content %}

<div class="claim-page">

    <div class="claim-header">
        <h2>Claims</h2>

        <a class="add-btn" href="/donation/create-claim/">
            + Create Claim
        </a>
    </div>

    <div class="claim-grid">

        {% for claim in claims %}

        <div class="claim-card">

            <h3>Claim Details</h3>

            <p><b>Food:</b> {{ claim.food.food_name }}</p>
            <p><b>NGO:</b> {{ claim.ngo.username }}</p>
            <p><b>Status:</b> {{ claim.status }}</p>

            <div class="actions">
                <a href="/donation/update-claim/{{ claim.id }}/">Update</a>
            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}