{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1 class="food-heading">

    Available Food Items

</h1>

<div class="food-container">

    {% for food in foods %}

    <div class="food-card">

        {% if food.food_name == 'Rice' %}

        <img src="{% static 'images/rice.jpg' %}"
             alt="Rice">

        {% else %}

        <img src="{% static 'images/foodpic1.jpg' %}"
             alt="Food">

        {% endif %}

        <div class="food-content">

            <h2>

                {{ food.food_name }}

            </h2>

            <p>

                Quantity:
                {{ food.quantity }}

            </p>

            <p>

                Restaurant:
                {{ food.restaurant.username }}

            </p>

            <span class="status">

                {{ food.status }}

            </span>

            <br><br>

            <a href="/donation/update-food/{{ food.id }}/"
               class="edit-btn">

                Edit

            </a>

            <a href="/donation/delete-food/{{ food.id }}/"
               class="delete-btn">

                Delete

            </a>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}