<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>accounts_home</title>
</head>
<body>
{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="hero-section">

    <div class="hero-text">

        <h1>

            Save Food, Save Lives

        </h1>

        <p>

            Donate extra food and help people in need.

        </p>

        <a href="/donation/foods/" class="btn">

            Donate Foods

        </a>

    </div>

    <div class="hero-image">

        <img src="{% static 'images/food.png' %}"
             alt="Food Donation">

    </div>

</div>

<div class="cards">

    <div class="card">

        <h2>Food Donation</h2>

        <p>

            Restaurants can donate extra food.

        </p>

    </div>

    <div class="card">

        <h2>NGO Claims</h2>

        <p>

            NGOs can claim available food.

        </p>

    </div>

    <div class="card">

        <h2>Delivery System</h2>

        <p>

            Volunteers deliver food safely.

        </p>

    </div>

</div>

{% endblock %}
</body>
</html>