<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}

<h1>Notifications</h1>

<hr>

<a href="/create-notification/">

    Add Notification

</a>

<hr>

{% for n in notifications %}

    <p>{{ n.message }}</p>

    <p>User: {{ n.user.username }}</p>

    <p>Read: {{ n.is_read }}</p>

    <a href="/update-notification/{{ n.id }}/">

        Update

    </a>

    <hr>

{% endfor %}

{% endblock %}
</body>
</html>