{% extends 'base.html' %}

{% block content %}

<div class="notification-page">

    <div class="notification-header">
        <h2>Notifications</h2>

        <a class="add-btn" href="/notifications/create/">
            + Add Notification
        </a>
    </div>

    <div class="notification-grid">

        {% for n in notifications %}

        <div class="notification-card">

            <h3>{{ n.message }}</h3>

            <p><b>User:</b> {{ n.user.username }}</p>

            <p>
                <b>Read:</b>
                {% if n.is_read %}
                    True
                {% else %}
                    False
                {% endif %}
            </p>

            <div class="actions">
                <a href="/notifications/update/{{ n.id }}/">Update</a>
            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}