{% extends 'base.html' %}

{% block content %}

<div class="volunteer-page">

    <div class="volunteer-header">
        <h2>Volunteer List</h2>

        <a class="add-btn" href="/ngo/create-volunteer/">
            + Add Volunteer
        </a>
    </div>

    <div class="volunteer-grid">

        {% for v in volunteers %}

        <div class="volunteer-card">

            <h3>{{ v.user.username }}</h3>

            <p><b>NGO:</b> {{ v.ngo }}</p>

            <p><b>Vehicle:</b> {{ v.vehicle }}</p>

            <div class="actions">
                <a href="/ngo/update-volunteer/{{ v.id }}/">Update</a>
            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}