<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}

<h1>Volunteer List</h1>

<hr>

<a href="/ngo/create-volunteer/">

    Add Volunteer

</a>

<hr>

{% for v in volunteers %}

    <h3>{{ v.user.username }}</h3>

    <p>NGO: {{ v.ngo.ngo_name }}</p>

    <p>Vehicle: {{ v.vehicle }}</p>

    <a href="/ngo/update-volunteer/{{ v.id }}/">

        Update

    </a>

    <hr>

{% endfor %}

{% endblock %}
</body>
</html>