{% extends 'base.html' %}

{% block content %}

<div class="delivery-page">

    <div class="delivery-header">
        <h2>Delivery List</h2>

        <a class="add-btn" href="/delivery/create-delivery/">
            + Add Delivery
        </a>
    </div>

    <div class="delivery-grid">

        {% for delivery in deliveries %}

        <div class="delivery-card">

            <h3>Delivery Info</h3>

            <p><b>Status:</b> {{ delivery.status }}</p>
            <p><b>Claim:</b> {{ delivery.claim.food.food_name }}</p>
            <p><b>Volunteer:</b> {{ delivery.volunteer.username }}</p>

            <div class="actions">
                <a href="/delivery/update-delivery/{{ delivery.id }}/">
                    Update
                </a>
            </div>

        </div>

        {% endfor %}

    </div>

</div>
{% endblock %}